<body *ngIf="loader">
    <h1 class="pldr">
        <circle-progress *ngIf="loader" [animation]="true" [animationDuration]="15000"></circle-progress>
    </h1>
    <br><br><br><br><br><br><br>
</body>
<body *ngIf="!loader">
    <!-- <i onclick="moonstarts(this)" class="fa fa-moon-o fa-2x night_mode"></i> -->
    <img id="userPhoto" src={{imageUrl}} alt="User Photo" style="width: 120px;height: 120px;">
    <span id="userName">{{parseusername}}</span>
    <div id="links">
        <a class="link" *ngFor = "let data of sublinks" (click)="gotolink(data._id,data.link)" style="border-radius: 25px;cursor: pointer;">{{data.name}}</a>
    </div>
</body>
<!-- <table *ngIf="!loader" class="table table-striped table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Link Name</th>
            <th>Link URL</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let data of sublinks">
            <td></td>
            <td>{{data.name}}</td>
            <td><a style="cursor: pointer;" (click)="gotolink(data._id,data.link)">{{data.link}}</a></td>
        </tr>
    </tbody>
</table> -->